
export DOCKER_PASSWORD="a9d9be70dbf44baa75c278e5c1a34e90539978cf"
export DOCKER_USERNAME="iomekam"
export SERVER="ghcr.io"
export CLUSTER_NAMESPACE="default"

export IMAGE_NAME="ghcr.io/ikenom/shopify-service"
export IMAGE_TAG="latest"
