---
http_interactions:
- request:
    method: post
    uri: https://ikenom-test.myshopify.com/admin/api/2021-01/graphql.json
    body:
      encoding: UTF-8
      string: '{"query":"mutation VendorService__CREATE_VENDOR_COLLECTION_QUERY($name:
        String!) {\n  collectionCreate(input: {title: $name}) {\n    collection {\n      id\n      title\n    }\n    userErrors
        {\n      field\n      message\n    }\n  }\n}","variables":{"name":"yfbroeuexlylahrltftiiazvqgvabhud"},"operationName":"VendorService__CREATE_VENDOR_COLLECTION_QUERY"}'
    headers:
      Authorization:
      - "<redacted-request>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '199'
      X-Sorting-Hat-Shopid:
      - '52915503304'
      X-Shopid:
      - '52915503304'
      X-Shardid:
      - '199'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '4905995'
      X-Stats-Apipermissionid:
      - '306260967624'
      X-Shopify-Api-Terms:
      - By accessing or using the Shopify API you agree to the Shopify API License
        and Terms of Use at https://www.shopify.com/legal/api-terms
      X-Shopify-Api-Version:
      - 2021-01
      Content-Language:
      - en
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-east1,gcp-us-east1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"collectionCreate":{"collection":{"id":"gid:\/\/shopify\/Collection\/261739675848","title":"yfbroeuexlylahrltftiiazvqgvabhud"},"userErrors":[]}},"extensions":{"cost":{"requestedQueryCost":10,"actualQueryCost":10,"throttleStatus":{"maximumAvailable":1000.0,"currentlyAvailable":990,"restoreRate":50.0}}}}'
  recorded_at: Thu, 25 Feb 2021 23:04:19 GMT
- request:
    method: post
    uri: https://ikenom-test.myshopify.com/admin/api/2021-01/graphql.json
    body:
      encoding: UTF-8
      string: '{"query":"mutation ProductService__CREATE_PRODUCT_QUERY($business_name:
        String!, $tags: [String!], $product_type: String, $collection_to_join: ID!,
        $product_name: String!) {\n  productCreate(input: {vendor: $business_name,
        title: $product_name, tags: $tags, productType: $product_type, collectionsToJoin:
        [$collection_to_join]}) {\n    product {\n      id\n      title\n      tags\n      createdAt\n      variants(first:
        1) {\n        edges {\n          node {\n            id\n          }\n        }\n      }\n    }\n    userErrors
        {\n      field\n      message\n    }\n  }\n}","variables":{"business_name":"yfbroeuexlylahrltftiiazvqgvabhud","product_type":"Argentinian","collection_to_join":"gid://shopify/Collection/261739675848","product_name":"Fettuccine
        Alfredo","tags":["test","tag"]},"operationName":"ProductService__CREATE_PRODUCT_QUERY"}'
    headers:
      Authorization:
      - "<redacted-request>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '199'
      X-Sorting-Hat-Shopid:
      - '52915503304'
      X-Shopid:
      - '52915503304'
      X-Shardid:
      - '199'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '4905995'
      X-Stats-Apipermissionid:
      - '306260967624'
      X-Shopify-Api-Terms:
      - By accessing or using the Shopify API you agree to the Shopify API License
        and Terms of Use at https://www.shopify.com/legal/api-terms
      X-Shopify-Api-Version:
      - 2021-01
      Content-Language:
      - en
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-east1,gcp-us-east1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"productCreate":{"product":{"id":"gid:\/\/shopify\/Product\/6538877632712","title":"Fettuccine
        Alfredo","tags":["tag","test"],"createdAt":"2021-02-25T23:04:17Z","variants":{"edges":[{"node":{"id":"gid:\/\/shopify\/ProductVariant\/39258921009352"}}]}},"userErrors":[]}},"extensions":{"cost":{"requestedQueryCost":13,"actualQueryCost":13,"throttleStatus":{"maximumAvailable":1000.0,"currentlyAvailable":987,"restoreRate":50.0}}}}'
  recorded_at: Thu, 25 Feb 2021 23:04:19 GMT
recorded_with: VCR 6.0.0
