---
http_interactions:
- request:
    method: post
    uri: https://fytr-dev.myshopify.com/admin/api/2021-01/graphql.json
    body:
      encoding: UTF-8
      string: '{"query":"mutation VendorService__CREATE_VENDOR_COLLECTION_QUERY($name:
        String!) {\n  collectionCreate(input: {title: $name}) {\n    collection {\n      id\n      title\n    }\n    userErrors
        {\n      field\n      message\n    }\n  }\n}","variables":{"name":"rwfokxapbkqcynotjceubvdjarhnpfkb"},"operationName":"VendorService__CREATE_VENDOR_COLLECTION_QUERY"}'
    headers:
      Authorization:
      - "<redacted-request>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '196'
      X-Sorting-Hat-Shopid:
      - '54253060293'
      X-Shopid:
      - '54253060293'
      X-Shardid:
      - '196'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '4878835'
      X-Stats-Apipermissionid:
      - '307431440581'
      X-Shopify-Api-Terms:
      - By accessing or using the Shopify API you agree to the Shopify API License
        and Terms of Use at https://www.shopify.com/legal/api-terms
      X-Shopify-Api-Version:
      - 2021-01
      Content-Language:
      - en
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-east1,gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"collectionCreate":{"collection":{"id":"gid:\/\/shopify\/Collection\/260624744645","title":"rwfokxapbkqcynotjceubvdjarhnpfkb"},"userErrors":[]}},"extensions":{"cost":{"requestedQueryCost":10,"actualQueryCost":10,"throttleStatus":{"maximumAvailable":1000.0,"currentlyAvailable":990,"restoreRate":50.0}}}}'
  recorded_at: Fri, 26 Feb 2021 02:49:45 GMT
- request:
    method: post
    uri: https://fytr-dev.myshopify.com/admin/api/2021-01/graphql.json
    body:
      encoding: UTF-8
      string: '{"query":"mutation ProductService__CREATE_PRODUCT_QUERY($business_name:
        String!, $tags: [String!], $product_type: String, $collection_to_join: ID!,
        $product_name: String!) {\n  productCreate(input: {vendor: $business_name,
        title: $product_name, tags: $tags, productType: $product_type, collectionsToJoin:
        [$collection_to_join]}) {\n    product {\n      id\n      title\n      tags\n      createdAt\n      variants(first:
        1) {\n        edges {\n          node {\n            id\n          }\n        }\n      }\n    }\n    userErrors
        {\n      field\n      message\n    }\n  }\n}","variables":{"business_name":"rwfokxapbkqcynotjceubvdjarhnpfkb","product_type":"Comfort
        Food","collection_to_join":"gid://shopify/Collection/260624744645","product_name":"Fettuccine
        Alfredo","tags":["test","tag"]},"operationName":"ProductService__CREATE_PRODUCT_QUERY"}'
    headers:
      Authorization:
      - "<redacted-request>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '196'
      X-Sorting-Hat-Shopid:
      - '54253060293'
      X-Shopid:
      - '54253060293'
      X-Shardid:
      - '196'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '4878835'
      X-Stats-Apipermissionid:
      - '307431440581'
      X-Shopify-Api-Terms:
      - By accessing or using the Shopify API you agree to the Shopify API License
        and Terms of Use at https://www.shopify.com/legal/api-terms
      X-Shopify-Api-Version:
      - 2021-01
      Content-Language:
      - en
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-east1,gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"productCreate":{"product":{"id":"gid:\/\/shopify\/Product\/6539716460741","title":"Fettuccine
        Alfredo","tags":["tag","test"],"createdAt":"2021-02-26T02:49:45Z","variants":{"edges":[{"node":{"id":"gid:\/\/shopify\/ProductVariant\/39260767977669"}}]}},"userErrors":[]}},"extensions":{"cost":{"requestedQueryCost":13,"actualQueryCost":13,"throttleStatus":{"maximumAvailable":1000.0,"currentlyAvailable":987,"restoreRate":50.0}}}}'
  recorded_at: Fri, 26 Feb 2021 02:49:45 GMT
[...]
