---
http_interactions:
- request:
    method: post
    uri: https://fytr-dev.myshopify.com/admin/api/2021-01/graphql.json
    body:
      encoding: UTF-8
      string: '{"query":"mutation ProductService__UPDATE_PRODUCT_QUERY($id: ID!, $tags:
        [String!], $product_name: String) {\n  productUpdate(input: {id: $id, tags:
        $tags, title: $product_name}) {\n    product {\n      id\n      tags\n      title\n    }\n  }\n}","variables":{"id":"gid://shopify/Product/6219386257605","tags":["tag1"],"title":"test_product_2"},"operationName":"ProductService__UPDATE_PRODUCT_QUERY"}'
    headers:
      Authorization:
      - "<redacted-request>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '196'
      X-Sorting-Hat-Shopid:
      - '54253060293'
      X-Shopid:
      - '54253060293'
      X-Shardid:
      - '196'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '4878835'
      X-Stats-Apipermissionid:
      - '307431440581'
      X-Shopify-Api-Terms:
      - By accessing or using the Shopify API you agree to the Shopify API License
        and Terms of Use at https://www.shopify.com/legal/api-terms
      X-Shopify-Api-Version:
      - 2021-01
      Content-Language:
      - en
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-east1,gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"productUpdate":{"product":{"id":"gid:\/\/shopify\/Product\/6219386257605","tags":["tag1"],"title":"test_product_2"}}},"extensions":{"cost":{"requestedQueryCost":10,"actualQueryCost":10,"throttleStatus":{"maximumAvailable":1000.0,"currentlyAvailable":990,"restoreRate":50.0}}}}'
  recorded_at: Wed, 17 Feb 2021 03:55:52 GMT
recorded_with: VCR 6.0.0
