---
http_interactions:
- request:
    method: post
    uri: https://fytr-dev.myshopify.com/admin/api/2021-01/graphql.json
    body:
      encoding: UTF-8
      string: '{"query":"mutation ProductService__CREATE_PRODUCT_QUERY($business_name:
        String!, $tags: [String!], $product_type: String, $collection_to_join: ID!,
        $product_name: String!) {\n  productCreate(input: {vendor: $business_name,
        title: $product_name, tags: $tags, productType: $product_type, collectionsToJoin:
        [$collection_to_join]}) {\n    product {\n      id\n      title\n      tags\n      createdAt\n      variants(first:
        1) {\n        edges {\n          node {\n            id\n          }\n        }\n      }\n    }\n    userErrors
        {\n      field\n      message\n    }\n  }\n}","variables":{"business_name":"test
        name","product_type":"ahpqocuazzfakzjimvsedawxvfsmotih","collection_to_join":"gid://shopify/Collection/244474642629","product_name":"Pres.
        Carlos Lemke","tags":["Ms. Dustin Muller"]},"operationName":"ProductService__CREATE_PRODUCT_QUERY"}'
    headers:
      Authorization:
      - "<redacted-request>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '196'
      X-Sorting-Hat-Shopid:
      - '54253060293'
      X-Shopid:
      - '54253060293'
      X-Shardid:
      - '196'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '4878835'
      X-Stats-Apipermissionid:
      - '307431440581'
      X-Shopify-Api-Terms:
      - By accessing or using the Shopify API you agree to the Shopify API License
        and Terms of Use at https://www.shopify.com/legal/api-terms
      X-Shopify-Api-Version:
      - 2021-01
      Content-Language:
      - en
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-east1,gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"productCreate":{"product":{"id":"gid:\/\/shopify\/Product\/6219328520389","title":"Pres.
        Carlos Lemke","tags":["Ms. Dustin Muller"],"createdAt":"2021-02-17T02:40:32Z","variants":{"edges":[{"node":{"id":"gid:\/\/shopify\/ProductVariant\/38132916650181"}}]}},"userErrors":[]}},"extensions":{"cost":{"requestedQueryCost":13,"actualQueryCost":13,"throttleStatus":{"maximumAvailable":1000.0,"currentlyAvailable":987,"restoreRate":50.0}}}}'
  recorded_at: Wed, 17 Feb 2021 02:40:33 GMT
recorded_with: VCR 6.0.0
