---
http_interactions:
- request:
    method: post
    uri: https://fytr-dev.myshopify.com/admin/api/2021-01/graphql.json
    body:
      encoding: UTF-8
      string: '{"query":"mutation CustomerService__CREATE_SHOPIFY_CUSTOMER_QUERY($email:
        String!, $firstName: String!, $lastName: String, $phone: String, $tags: [String!])
        {\n  customerCreate(input: {email: $email, firstName: $firstName, lastName:
        $lastName, phone: $phone, tags: $tags}) {\n    customer {\n      id\n      firstName\n      lastName\n      email\n      phone\n    }\n    userErrors
        {\n      field\n      message\n    }\n  }\n}","variables":{"email":"test@gmail.com","firstName":"John","lastName":"Smith","phone":"5123439583","tags":"test-tag"},"operationName":"CustomerService__CREATE_SHOPIFY_CUSTOMER_QUERY"}'
    headers:
      Authorization:
      - "<redacted-request>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '196'
      X-Sorting-Hat-Shopid:
      - '54253060293'
      X-Shopid:
      - '54253060293'
      X-Shardid:
      - '196'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '4878835'
      X-Stats-Apipermissionid:
      - '307431440581'
      X-Shopify-Api-Terms:
      - By accessing or using the Shopify API you agree to the Shopify API License
        and Terms of Use at https://www.shopify.com/legal/api-terms
      X-Shopify-Api-Version:
      - 2021-01
      Content-Language:
      - en
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-east1,gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"customerCreate":{"customer":{"id":"gid:\/\/shopify\/Customer\/4633458311365","firstName":"John","lastName":"Smith","email":"test@gmail.com","phone":"+15123439583"},"userErrors":[]}},"extensions":{"cost":{"requestedQueryCost":10,"actualQueryCost":10,"throttleStatus":{"maximumAvailable":1000.0,"currentlyAvailable":990,"restoreRate":50.0}}}}'
  recorded_at: Sun, 14 Feb 2021 02:39:40 GMT
[...]
