---
http_interactions:
- request:
    method: post
    uri: https://ikenom-test.myshopify.com/admin/api/2021-01/graphql.json
    body:
      encoding: UTF-8
      string: '{"query":"mutation CustomerService__CREATE_SHOPIFY_CUSTOMER_QUERY($email:
        String!, $firstName: String!, $lastName: String, $phone: String, $tags: [String!])
        {\n  customerCreate(input: {email: $email, firstName: $firstName, lastName:
        $lastName, phone: $phone, tags: $tags}) {\n    customer {\n      id\n      firstName\n      lastName\n      email\n      phone\n    }\n    userErrors
        {\n      field\n      message\n    }\n  }\n}","variables":{"email":"bill_gusikowski@fake.com","firstName":"Amada","lastName":"Gulgowski","phone":"6787934992","tags":"test-tag"},"operationName":"CustomerService__CREATE_SHOPIFY_CUSTOMER_QUERY"}'
    headers:
      Authorization:
      - "<redacted-request>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '199'
      X-Sorting-Hat-Shopid:
      - '52915503304'
      X-Shopid:
      - '52915503304'
      X-Shardid:
      - '199'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '4905995'
      X-Stats-Apipermissionid:
      - '306260967624'
      X-Shopify-Api-Terms:
      - By accessing or using the Shopify API you agree to the Shopify API License
        and Terms of Use at https://www.shopify.com/legal/api-terms
      X-Shopify-Api-Version:
      - 2021-01
      Content-Language:
      - en
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-east1,gcp-us-east1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"customerCreate":{"customer":{"id":"gid:\/\/shopify\/Customer\/5025378861256","firstName":"Amada","lastName":"Gulgowski","email":"bill_gusikowski@fake.com","phone":"+16787934992"},"userErrors":[]}},"extensions":{"cost":{"requestedQueryCost":10,"actualQueryCost":10,"throttleStatus":{"maximumAvailable":1000.0,"currentlyAvailable":990,"restoreRate":50.0}}}}'
  recorded_at: Thu, 25 Feb 2021 23:17:40 GMT
recorded_with: VCR 6.0.0
